section.callToAction {
    background: url(../img/callaction-bg.jpg) center;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 80px 20px;
    h2 {
        font-size: 36px;
        margin: 10px 0;
    }
    p {
        margin-bottom: 40px;
    }
    a {
        
        text-transform: capitalize;
        border-radius: 0;
        background-color: #df003a;
        color: #fff;
        border: 1px solid transparent;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        padding: 12px 40px;
        
        &:hover {
            background-color: transparent;
            color: #fff;
            border: 1px solid #fff;
        }
    }
    
}