div {
    border: 1px solid red;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

header {
    height: 100vh;
    .navbar {
        display: flex;
        justify-content: space-between;
        nav {
            width: 50%;
        }
    }
}