section.testimonial {
    text-align: center;
    background: #F9F9FF;
    .testimonialCaroussel {
        margin: 40px 0;
        .testimonialCard {
            background: white;
            padding: 25px;
            img {
                margin-bottom: 25px;
            }
            .testText {
                margin-bottom: 25px;
            }
            .testName {
                font-weight: 700;
            }
        }
    }
}